@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/* 

.head {
    display: flex;
    background-image: linear-gradient(to left,#419cbd, #0b0e0f); 
    padding: 20px;
    color: white;


.head-list {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    position: relative;
    left: 780px;
    color: white;
    

}
.head-list li{
    list-style-type: none;
    padding: 10px;

}

.head-list li a{
    color: white;
}


#head-list-icons{
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
}



*/

.nav-snippet ul{
    display: flex; 
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin-left: 260px;
    margin-right: 200px;

    border-radius: 0 0 100px 100px ;
    
    
}

.nav-snippet ul li{
    padding: 10px;
    margin: 5px;
    
  
    
}
.nav-snippet ul li a{
    color: black;
    padding: 10px;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out; 
}


.nav-snippet ul li a:hover{
    color: black;
    /* padding-right: 8px;
    padding-left: 8px; */
    background-color: white;
    /* border: 1px solid #061423; */
        
} 

.hero {
    background-image: url('https://naivas.online/nakuru-westside/modules/zoneslideshow/views/img/slideImages/1710842011.jpg');
    /* Specify the URL of your background image */
    background-size: cover;
    /* Cover the entire background */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent background image from repeating */
    height: 250px;
    /* Set height to viewport height */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    position: relative;
    color: black;
}

.sub-hero {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
}


/* search bar */
.search-container {
    display: flex;
    margin-top: 20px;
    margin-left: 380px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    width: 40%;
    position: relative;
}

#searchInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    color: #111b21;
    font-family: 'Montserrat', sans-serif;
}
 

#searchBtn {
    background-color: #061423;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchBtn:hover {
    background-color: #33b50e;
}

#searchBtn:focus {
    outline: none;}

    /* end of search bar */



.hd {
    margin: 40px 20px;
    font-size: 34px;
    color: rgb(66, 45, 45);
    font-family: 'roboto condensed';
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;


}





/* start of responsive layout */

/* Responsive Header */
@media (max-width: 768px) {
    .head-list {
        padding-left: 20px;
        /* Adjust padding for smaller screens */
    }
}

/* Responsive Hero Section */
@media (max-width: 768px) {
    .hero {
        height: calc(100vh - 50px);
        /* Adjust height based on viewport height */
    }
}

/* Responsive Product Layouts */
@media (max-width: 768px) {

    .elect-layout,
    .pers-layout,
    .liq-layout,
    .fre-layout {
        height: 150px;
    }
}

@media (max-width: 768px) {
    .card {  /* This targets all cards */
      width: calc(100% - 20px);
    }
    #td-deals .card,  /* Target cards within #td-deals */
    #elect .card {  /* (Assuming #elect targets the same section) */
      width: calc(100% - 50px);
    }
  }
/* start of responsive layout */


/* start of electronic formating section */
#elect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
}

#elect .card {
    width: 550px;
    height: 350px;
}

#elect .card-img {
    width: auto;
    height: 300px;
}

#elect .card-wrap {
    display: flex;
    flex-direction: row;
}

#elect .card-content {
    margin-top: 120px;
}
/* end of electronic formating section */

/* start of today deals formating section */
#td-deals{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
}

   
#td-deals .card {
    width: 550px;
    height: 350px;
}

#td-deals .card-img {
    width: auto;
    height: 300px;
}

#td-deals .card-wrap {
    display: flex;
    flex-direction: row;
}

#td-deals .card-content {
    margin-top: 120px;
}


#td-deals .btn {
    display: inline-block;
    background-color: #33b50e;
    color: #fff;
    padding: 10px 50px;
    margin: 10px 8px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* end */


/* start of card styling */
.card {
    width: calc(50% - 40px);
    max-width: 550px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 15px;
    flex: 1 0 calc(300px - 40px);
}


.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}



.card-img {
    width: auto;
    height: 300px;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #33b50e;
    color: #fff;
    padding: 10px 50px;
    margin: 10px 8px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}


/* end of card styling */
.elect-layout {
    background-image: url('https://naivas.online/nakuru-westside/c/1260-category_default/electronics.jpg');
    /* Specify the URL of your background image */
    background-size: cover;
    /* Cover the entire background */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent background image from repeating */
    height: 200px;
    /* Set height to viewport height */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    position: relative;


}

.pers-layout {
    background-image: url('https://naivas.online/nakuru-westside/c/1258-category_default/beauty-cosmetics.jpg');
    /* Specify the URL of your background image */
    background-size: cover;
    /* Cover the entire background */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent background image from repeating */
    height: 200px;
    /* Set height to viewport height */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    position: relative;


}

.liq-layout {
    background-image: url('https://naivas.online/nakuru-westside/c/1500-category_default/wine.jpg');
    /* Specify the URL of your background image */
    background-size: cover;
    /* Cover the entire background */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent background image from repeating */
    height: 200px;
    /* Set height to viewport height */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    position: relative;


}

.fre-layout {
    background-image: url('https://naivas.online/nakuru-westside/c/1381-category_default/fresh-food.jpg');
    /* Specify the URL of your background image */
    background-size: cover;
    /* Cover the entire background */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent background image from repeating */
    height: 200px;
    /* Set height to viewport height */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    position: relative;

}




/* footer part */

.container-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* Three columns */
    grid-template-rows: auto;
    /* Let rows adjust based on content */
}


.container-footer {
    color: white;
    padding-top: 20px;
    padding-bottom: 0;
    background-image: linear-gradient(60deg, #162125, #062f3c);
}

.col1 {
    position: relative;
    bottom: 0;
    list-style: none;
    color: white;

}

.sub-col1 li a {
    color: white;
}


input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
}

input::placeholder {
    color: white;
}

.form-news {
    padding-top: 10px;
}


#subscribe {
    width: 50%;
    font-family: 'Times New Roman';
    padding: 10px 20px 10px 20px;
    border: none;
    color: white;
    font-size: larger;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 18px;
    background-image: linear-gradient(45deg, #111b21, #505a50);
    background-position: right;
}


#subscribe:hover {
    background-position: left;
    transition: background-position 0.5s ease-in;
    transform: scale(1.01);
    background-image: linear-gradient(45deg, #505a50, #111b21);
    /* box-shadow: 0 2px 5px rgba(12, 10, 10, 0.5); */
}

#subscribe:active {
    transform: scale(0.9);
}



.social-icons {
    margin: 20px 0;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: white;
    height: 40px;
    margin: 0 3px;
    border: 1px solid #ccc;
    border-radius: 20%;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Add to cart button style */

.btnCart{
    width: 180px;
    height: 40px;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    
}

.btnCart button{
    border-radius: 30px;
    background: #f83e25;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 5px 5px rgb(145, 145, 145) ;
}

.minusBtn, .plusBtn{
    display: none;
    font-weight: 700;

}


/* cart */