@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    }
  
    
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  .profile {
    max-width: 600px;
    margin: auto;
  }
  
  .profile-info {
    margin-bottom: 1rem;
  }
  
  .profile-info label {
    font-weight: bold;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .profile-picture-container {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .profile-picture-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .prof-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 10px;
  }
 
  
input[type="text"], 
input[type="email"]{
    width: 100%;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #33797f;
    box-sizing: border-box;
}

.prof-btn{
  margin: 10px;
}



/* footer part */

.container-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Three columns */
  grid-template-rows: auto;
  /* Let rows adjust based on content */
}


.container-footer {
  color: white;
  padding-top: 20px;
  padding-bottom: 0;
  background-image: linear-gradient(60deg, #162125, #062f3c);
}

.col1 {
  position: relative;
  bottom: 0;
  list-style: none;
  color: white;

}

.sub-col1 li a {
  color: white;
}


input[type="text"] {
  width: 70%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  box-sizing: border-box;
}

input::placeholder {
  color: white;
}

.form-news {
  padding-top: 10px;
}


#subscribe {
  width: 50%;
  font-family: 'Times New Roman';
  padding: 10px 20px 10px 20px;
  border: none;
  color: white;
  font-size: larger;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 18px;
  background-image: linear-gradient(45deg, #111b21, #505a50);
  background-position: right;
}


#subscribe:hover {
  background-position: left;
  transition: background-position 0.5s ease-in;
  transform: scale(1.01);
  background-image: linear-gradient(45deg, #505a50, #111b21);
  /* box-shadow: 0 2px 5px rgba(12, 10, 10, 0.5); */
}

#subscribe:active {
  transform: scale(0.9);
}



.social-icons {
  margin: 20px 0;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  color: white;
  height: 40px;
  margin: 0 3px;
  border: 1px solid #ccc;
  border-radius: 20%;
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}


*/

/* CSS for larger screens */
@media (min-width: 1200px) {

    .nav-snippet ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        margin-left: 260px;
        margin-right: 100px;
        border-radius: 0 0 100px 100px;


    }

    .nav-snippet ul li {
        padding: 10px;
        margin: 5px;
        transition: transform 1s ease-in-out;



    }

    .nav-snippet ul li a {
        color: black;
        padding: 10px;
        transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;


    }

    .nav-snippet ul li a:hover {
        color: black;
        transform: scale(1.1);
        transition: transform 1s ease-in-out;
        /* padding-right: 8px;
    padding-left: 8px; */
        background-color: white;
        border-top: 1.5px solid#061423;
        border-radius: 20px;
        /* box-shadow: inset 0px 3px 10px grey; */
        /* border: 1px solid #061423; */

    }

    .nav-snippet ul li a i {
        margin-right: 5px;
    }

}

/* CSS for medium screens */
@media (min-width: 768px) and (max-width: 1199px) {

    .nav-snippet ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        /* margin-left: 200px; */
        width: 100%;
        /* margin-right: 100px; */
        border-radius: 0 0 100px 100px;


    }

    .nav-snippet ul li {
        padding: 10px;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;



    }

    .nav-snippet ul li a {
        color: black;
        padding: 10px;
        transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    }

    .nav-snippet ul li a:hover {
        color: black;
        transform: scale(1.1);
        /* padding-right: 8px;
    padding-left: 8px; */
        background-color: white;
        border-top: 1.5px solid#061423;
        border-radius: 20px;
        /* box-shadow: inset 0px 3px 10px grey; */
        /* border: 1px solid #061423; */

    }

    .nav-snippet ul li a i {
        margin-right: 5px;
    }
  }
/* .nav-snippet ul {
  margin-right: 120px;
}


 */
